#header{
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__color{
    background-color: grey;
}

.header__logo{
    width: 150px;
}

.header__nav{
    color: #f5f3f4 ;
font-size: 22px;
font-weight: bold;}

.nav:hover{
	font-size: 30px;
	font-weight: bold;
	color: black;

}

.header__fuenteTitulo{
    letter-spacing: auto;
	font-family: 'Concert One', cursive;
}

.header__Titulo{
    text-align: center;
	font-size: 40px;
}